<div class="container mast-head">
  <div class="row">
    <div class="four columns">
      <h1>
         <a href="/index.html">
            <img class="scale-with-grid" src="/images/site/logo-sm.png" alt="Cowork Bloomington - Independent Collaboration">   
         </a>
      </h1>
    </div><!-- /div.sixteen.columns -->
    <div class="six columns">
      <!-- <li><a class="current" href="/index.html">cowork</a></li>
      <li><a href="/events.html">events</a></li>
      <li><a href="/blog">blog</a></li> -->
      {% unless page.layout == 'front' %}
        <ul class="navigation">
          {% for link in site.navigation %}
            {% assign current = nil %}
            {% if page.url == link.url or page.layout == link.layout %}
              {% assign current = 'current' %}
            {% endif %}

            <li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
              <a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endunless %}
    </div>
  </div> 
</div>

