<div class="container mast-head no-bg">
  <div class="row new">
    <div class="six columns">
         <a href="/index.html" class="logo">
            <img class="scale-with-grid new-logo" src="/images/site/logo-dark.png" alt="Cowork Bloomington - Independent Collaboration">   
         </a>
    </div><!-- /div.sixteen.columns -->
    <div class="six columns">
      <ul class="pull-right">
        <li><a href="/index.html">Home</a></li>
        <li><a href="http://www.meetup.com/Independent-Bloomington/">Events</a></li>
        <li><a href="rollcall.html">Rollcall</a></li>
      </ul>
    </div>
  </div> 
</div>

