body#home {
  background: url('../images/site/banner-bg-2.jpg') top center no-repeat, 
  url('..images/site/noise.png');
  font-family: 'Open Sans', sans-serif;
}

body#home.new-space {
  background: url('../images/site/banner-bg-new.jpg') top center no-repeat, 
  url('..images/site/noise.png');
  font-family: 'Open Sans', sans-serif;
}

body#events {
  background: url('../images/site/events.jpg') top center no-repeat, 
  url('..images/site/noise.png');
  font-family: 'Open Sans', sans-serif;
}

/*  Fonts  */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);



.l-white-bg {
  margin-top: 0px;
  padding-top: 3.0em;
}

img {
  max-width: 100%;
}
h1, h2, h3, h4, h5 {
  color: #444444;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0;
}

h2 {
  margin-bottom: 0.1em;
}

h3 {
  line-height: 0.8em;
}

h3 span.kicker {
  font-size: 0.5em;
  color: #888;
  font-weight: normal;
}

h4 {
  font-size: 1.5em;
  margin: 0 0 0.2em 0;
  display: block;
  font-weight: 400;
  line-height: 1.3em;
}

h5 {
  margin: 0.5em 0 1.2em 0;
  font-weight: 400;
  line-height: 1.3em;
}

small {
  font-size: 0.9em;
  color: #666;
  display: block;
  margin: 0 0 0.5em 0;
}

.center {
  text-align: center;
  display: table;
  margin: 0 auto;
}

.row {
  margin-top: 2.0em;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/***  MastHead *****/

.mast-head.no-bg {
  background: none !important;
  padding-top: 1.0em;
}

.mast-head.no-bg ul li a {
  color: #ffffff;
}

.mast-head .row {
  padding: 0.7em 0 0 0;
  margin-bottom: 75px;
  display: block;
}

.mast-head .row.new {
  margin-bottom: 2.0em;
  padding-bottom: 1.0em;
  border-bottom: 1px solid #DFDFDF;
}

body#events .mast-head .row.new {
  margin-bottom: 2.0em;
  padding-bottom: 1.0em;
  border-bottom: 1px solid #7c7c7c;
}

body#home .mast-head {
  background: rgba(250, 250, 250, 0.85);
  border-bottom: none;
}

body#home .mast-head .row.new {
  border-bottom: none;
  margin-bottom: 70px;
}

body#home .mast-head a {
  display: inline-block;
}

body#home .mast-head img {
  opacity:0.75;
}

body#home .mast-head .logo {
  margin-top: 0;
}

.mast-head .new-logo {
  width: 200px;
}

body.rolecall .mast-head.no-bg ul li a {
  color: #4a4a4a;
}

body#home .mast-head .yellow {
  padding: 1.55em 0 0 0;
  float: right;
  text-align: right;
}

.mast-head h1 {
  margin: 0;
  padding: 0;
  float: left;
  display: inline-block;
}



.mast-head ul {
  float: right;
  margin: 1.2em 0  0 0;
  list-style: none;
}

.mast-head li {
  float: left;
  padding: 0 1.0em 0 1.0em;
}

.mast-head ul a {
  text-decoration: none;
  font-size: 1.5em;
  color: #555555;
  padding-bottom: 0.1em;
}

.mast-head ul a:hover {
  color: #DF842D
}

.mast-head ul a.current {
  border-bottom: 3px solid #DF842D;
}

@media (max-width: 767px) {
  .mast-head ul a {
    font-size: 1.3em;
  }
}


.row--hero {
  margin-top: 0;
}

h1.hero {
  font-size: 2.25em;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(67, 67, 67, 0.75);
  margin: 0 2em 2.5em 2em;
  opacity: 0.8;
  font-weight: 400;
  display: block;
}

h1.hero span.kicker {
  line-height: 1.5em;
  font-size: 0.7em;
  display: inherit;
  opacity: 0.6;
  font-weight: 400;
}

.orange {
   color: #DF842D;
}

.upper {
   text-transform: uppercase;
}

.footer {
   color: #777777;
  padding: 0 0 26px 0;
  font-size: 0.8em;
}

.footer a {
   color: #999999;
}

/* @group Twitter */
#fromtwo ul {
  list-style-type: none;
  margin: 0;
  min-height: 60px; 
}

/*** Highlight Background  ***/
.highlightBg {
   padding: 8px 12px;
   background: #F5F4F6;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   border: 1px solid hsl(180, 2%, 80%);
}

.highlightBg h2 {
  font-size: 1.75em;
}

.highlightBg h4 {
  margin-top: 0;
}

body#home .highlightBg {
  background: white;
  border: none;
  border-left: 1px solid hsl(180, 2%, 80%);
}


/** btn  **/ 

a.btn {text-decoration: none;}

.btn.danger,
.alert-message.danger,
.btn.danger:hover,
.alert-message.danger:hover,
.btn.error,
.alert-message.error,
.btn.error:hover,
.alert-message.error:hover,
.btn.success,
.alert-message.success,
.btn.success:hover,
.alert-message.success:hover,
.btn.info,
.alert-message.info,
.btn.info:hover,
.alert-message.info:hover {
  color: #ffffff;        
}
.btn .close, .alert-message .close {
  font-family: Arial, sans-serif;
  line-height: 18px;
}
.btn.danger,
.alert-message.danger,
.btn.error,
.alert-message.error {
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.success, .alert-message.success {
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.info, .alert-message.info {
  background-color: #339bb9;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #339bb9 #339bb9 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #ED9032;
  padding: 5px 14px 6px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  font-weight: bold;
  line-height: normal;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn:focus {
  outline: 1px dotted #666;
}
.btn.primary {
  color: #ffffff;
  background-color: #e99922;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}   

.btn.large {
  font-size: 15px;
  line-height: normal;
  padding: 9px 14px 9px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn.small {
  padding: 7px 9px 7px;
  font-size: 11px;
}

.center {
   display: table;
   margin: 8px auto 0 auto;
}  

.helvetica {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Coworkers */
.coworkers {
  text-align: center;
}

.coworkers img {
  width: 95%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 0 0.6em 0;
}

.coworkers h3 {
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.3em;
  margin-bottom: 0;
}

.coworkers h3 a {
  text-decoration: none;
}

.coworkers h5 {
  font-size: 0.8em;
  line-height: 1.3em;
  font-weight: normal;
  margin: 0 0 2.0em 0;
  color: #888888;
}

/* Instructors */

.instructors {
  text-align: left;
}

.instructors img {
  width: 95%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 0 0.6em 0;
}

.instructors h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.3em;
  margin-bottom: 0;
}

.instructors h3 a {
  text-decoration: none;
}

.instructors h5 {
  font-size: 0.8em;
  line-height: 1.3em;
  font-weight: normal;
  margin: 0 0 0.8em 0;
  color: #888888;
}

.instructors p {
  font-size: 0.9em;
  line-height: 1.3em;
}

.instructors .three {
  display: inline-block;
  padding: 0 0 2.0em 0;
}

/* Table */

table {
  width: 100%;
}

table td {
  padding: 0.5em 0.6em;
}

table tr:nth-of-type(odd) {
  background: #F2F1F3;
}

/* ROLLCALL */

h3.rollcall {
  margin-bottom: 1.0em;
  color: #444444;
  font-size: 1.5em;
  display: block;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

h3.rollcall strong {
  color: #EB9B35;
}

#instafeed {
  list-style: none;
}

#instafeed a {
  display: inline-block;
  float: left;
  width: 25%;
  padding: 0.5em;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

#instafeed img {
  max-width: 100%;
  /*border: 6px solid #ffffff;*/
  -moz-box-shadow:    0px 0px 4px 0px #ccc;
  -webkit-box-shadow: 0px 0px 4px 0px #ccc;
  box-shadow:         0px 0px 4px 0px #ccc;

  -webkit-transition: all 0.1s linear;
  -moz-transition:    all 0.1s linear;
  -ms-transition:     all 0.1s linear;
  -o-transition:      all 0.1s linear;
  transition:         all 0.1s linear;
}

#instafeed img:hover {
  border: 6px solid #EB9B35;
}


@media (max-width: 767px) {
  h1.hero {
    position: relative;
    bottom: 1.0em;
    font-size: 1.5em;
    margin-bottom: 1.6em;
  }

  body#home .mast-head h1 {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    float: none;
  }

  body div.mast-head div.row.new a.logo {
    margin: 0 auto !important;
    display: table !important;
    text-align: center;
  }

  body div.mast-head div.row.new ul {
    float: none;
    display: table;
    margin: 0.75em auto 0 auto;
  }

  body#home .mast-head .yellow {
    padding: 0;
    float: none;
    text-align: center;
    display: table;
    margin: 0 auto 1.0em auto;
  }

  #instafeed a {
    display: inline-block;
    float: left;
    width: 50%;
    padding: 0.5em;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
  }
}

img.border {
  -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.25);
  box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.25);
}

/* Announcement */


body.mitch-bros-bg {
  padding: 1.0em 0;
  background: url(../images/site/mb-bg.jpg) no-repeat center fixed;
  color: #fff;
}


/* night-owl */

body.night-owl-bg {
  padding: 1.0em 0;
  background: url(../images/site/night-owl-bg-3.jpg) no-repeat center fixed;
  color: #fff;
}

.img-bg h1, .img-bg h2, .img-bg h3, .img-bg h4, .img-bg p, .img-bg a {
  color: #b1b1b1;
}

.img-bg h3 {
  margin-bottom: 1.0em;
  color: #ebebeb;
}

.img-bg p {
  font-size: 1.4em;
}

.img-bg h4 {
  margin-bottom: 0em;
}

.img-bg p small a {
  color: #b1b1b1;
}

.img-bg .mast-head .row.new {
  border-bottom: 1px solid #3f3f3f;
}


/* Plans */

ul.plans {
  list-style: none;
}

ul.plans li {
  box-sizing: border-box;
  width: 31%;
  margin: 0 1%;
  padding: 1em;
  float: left;
  background: #e7e7e7;
  border-radius: 0 0 2px 2px;
  background: #F8F8F8;
  border: 1px solid #E1E1E1;
  height: 400px;
  position: relative;
}

ul.plans a.btn.primary {
  position: absolute;
  bottom: 1em;
  left: 30%;
}

ul.plans li:nth-of-type(1) {
  border-top: 6px solid #D87411;
}

ul.plans li:nth-of-type(2) {
  border-top: 6px solid #EEA052;
}

ul.plans li:nth-of-type(3) {
  border-top: 6px solid #F0C395;
}

ul.plans li:nth-of-type(4) {
  border-top: 6px solid #EED1B4;
}

@media (max-width: 959px) {
  ul.plans li {
    height: 470px;
  }
}

@media (max-width: 825px) {
  ul.plans li {
    height: auto;
    width: 100%;
    margin: 1em 0 0 0;
  }

  ul.plans li p:last-of-type {
    position: absolute;
    top: 2em;
    right: 3em;
  }

  ul.plans a.btn.primary {
    position: relative;
    bottom: none;
    left: none;
  }
}


.corp {
  padding: 1em;
  background: #e7e7e7;
  border-radius: 0 0 2px 2px;
  background: #F8F8F8;
  border: 1px solid #E1E1E1;
  position: relative;
  border-top: 6px solid #4380A1;
  margin-top: 2.0em;
}

.corp .text {
  width: 100%;
}

.corp .cta {
  position: absolute;
  top: 1em;
  right: 1em;
}

.corp .cta .btn.primary {
  background: #4380A1;
}